<p>
<b>Title:</b><%= @article.title%>
</p>
<p>
<b>Description:</b><%= @article.description%>
</p>
<%= link_to 'edit',edit_article_path%>|
<%= link_to 'delete',@article,method: :delete,data:{confirm: 'are you sure?'} %>|
<%= link_to 'back',articles_root_path%>   